@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: oklch(97% 0 0);
  --foreground: oklch(14.5% 0 0);
}

@layer theme {
  .dark,
  .dark * {
    --background: oklch(14.5% 0 0);
    --foreground: oklch(97% 0 0);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-coral: #ee585a;
  --color-gray-25: hsla(0, 0%, 100%, 1);
  --color-gray-10: #fefefe;
  --color-dark-gray: hsla(240, 2%, 18%, 1);
}

body {
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

/*@import "tailwindcss";*/

/**/

/*:root {*/
/*  --background: oklch(97% 0 0);*/
/*  --foreground: oklch(14.5% 0 0);*/
/*}*/

/*@layer theme {*/
/*  .dark {*/
/*    --color-background: hsla(0, 0%, 9%, 1);*/
/*    --color-foreground: oklch(97% 0 0);*/
/*  }*/
/*}*/

/*@theme inline {*/
/*  --color-coral: #ee585a;*/
/*  --color-gray-25: hsla(0, 0%, 100%, 1);*/
/*  --color-gray-10: #fefefe;*/
/*  --color-dark-gray: hsla(240, 2%, 18%, 1);*/
/*}*/

/*@theme inline {*/
/*  --color-background: var(--background);*/
/*  --color-foreground: var(--foreground);*/
/*  --color-coral: #ee585a;*/
/*  --color-gray-25: hsla(0, 0%, 100%, 1);*/
/*  --color-gray-10: #fefefe;*/
/*  --color-dark-gray: hsla(240, 2%, 18%, 1);*/
/*}*/

/*body {*/
/*  width: 100vw;*/
/*  height: 100vh;*/
/*  font-family: Arial, Helvetica, sans-serif;*/
/*}*/
